.index_nav_uplist{
    display: none;
}
#x_main{
    width: 1200px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}
#zoomBox{
    float: left;
                position: relative;
                width: 400px;
                border: 1px solid #CECECE;
            }
            #midArea{
                width: 400px;
                height: 400px;
                overflow: hidden;
            }
            #midArea img{
                width: 400px;
                height: 400px;
            }
            #zoom{
                display: none;
                position: absolute;
                width: 200px;
                height: 200px;
                background: yellow;
                opacity: .5;
                cursor: move;
            }
            #bigArea{
                display: none;
                position: absolute;
                width: 400px;
                height: 400px;
                border: 1px solid #CECECE;
                left: 400px;
                top: -1px;
                overflow: hidden;
                z-index: 8;
            }
            #bigArea img{
                position: absolute;
                width: 800px;
                height: 800px;
            }
            #smallArea img{
                float: left;
                width: 50px;
                height: 50px;
                margin: 5px;
                border: 1px solid green;
            }
.x_main_right{
    float: left;
    margin-left: 40px;
    h3{
        width: 500px;
        overflow: hidden;
        font-size: 20px;
        font-family: "微软雅黑";
        height: 30px;
        line-height: 30px;
    }
    .x_main_rightD{
        color: #fff;
        height: 93px;
        line-height: 93px;
        background-color: #fa8e19;
        width: 100%;
        span{
            font-size: 25px;
        }
    }
    .x_main_rightD1{
        float: left;
        margin-top:30px ;
        a{
            float: left;
            width: 160px;
            display: block;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-left: 10px;
        }
        a:nth-child(1){
            background: #69AF05;
        }
        a:nth-child(2){
            background-color: #fa8e19;
        }
        .pAmount {
            width: 81px;
            float: left;
            margin-right: 10px;
            overflow: hidden;
            span{
                float: left;
            }
            .text {
                width: 53px;
                height: 43px;
                border: 1px solid #dadada;
                overflow: hidden;
                font-size: 18px;
                text-align: center;
                line-height: 43px;
                color: #6b6b6b;
                font-family: 宋体;
            }
            a.disable {
                color: #ececec;
                cursor: default;
            }
            a.p-reduce {
                border-bottom: 1px solid #dadada;
            }
            a {
                height: 21px;
                width: 25px;
                border: 1px solid #dadada;
                border-top:0 ;
                text-align: center;
                line-height: 21px;
                display: inline-block;
                //overflow: hidden;
                text-decoration: none;
//              cursor: pointer;
//              color: #6b6b6b;
                font-size: 14px;
                font-family: 宋体;
                overflow: hidden;
                background: 0;
                margin-left: 0;
            }
}
            .pBtn{
                float: left;
                a{
                   width: 130px;
                    height: 45px;
                    background-color: #669900;
                    display: block;
                    border-radius: 2px;
                    text-align: center;
                    padding: 0 0 0 30px;
                    color: white;
                    font-family: 微软雅黑;
                    font-size: 18px;
                    line-height: 45px;
                    position: relative;
                    cursor: pointer; 
                    b{
                        position: absolute;
                        top: 12px;
                        left: 18px;
                        width: 22px;
                        height: 20px;
                        background: url(../images/productinfo.png) no-repeat -269px -72px;
                        display: block;
                    }
                }
                
            }
            .quickBuy a {
                padding: 0;
                background-color: #fa8e19;
            }
            
}
        
    }

.pAmount {
    width: 81px;
    float: left;
    margin-right: 10px;
    overflow: hidden;
    _display: inline;
    span{
        float: left;
    }
    .text {
        width: 53px;
        height: 43px;
        border: 1px solid #dadada;
        overflow: hidden;
        font-size: 18px;
        text-align: center;
        line-height: 43px;
        color: #6b6b6b;
        font-family: 宋体;
    }
    a.disable {
        color: #ececec;
        cursor: default;
    }
    a.p-reduce {
        border-bottom: 1px solid #dadada;
    }
    a {
        height: 21px;
        width: 25px;
        border-top: 1px solid #dadada;
        border-right: 1px solid #dadada;
        text-align: center;
        line-height: 21px;
        display: block;
        overflow: hidden;
        text-decoration: none;
        cursor: pointer;
        color: #6b6b6b;
        font-size: 14px;
        font-family: 宋体;
        overflow: hidden;
    }
}